In [2]:
# coding:utf-8
# Author: yuxiang Zeng
from torch.utils.data import Dataset, DataLoader
from torch.nn import *
from tqdm import *
from time import time
import numpy as np
import pickle as pk
import pandas as pd
import torch as t

In [9]:
df = pd.read_csv('./ClientWithCTX.csv')
df

,Unnamed: 0,addr,as,city,country,countryCode,isp,lat,lon,org,query,region,regionName,status,timezone,zip
0,0,146.57.249.99,AS217 University of Minnesota,Willmar,United States,US,University of Minnesota,45.13860,-95.0525,University of Minnesota,146.57.249.99,MN,Minnesota,success,America/Chicago,56201
1,1,207.148.15.13,"AS20473 Choopa, LLC",Elk Grove Village,United States,US,Choopa,42.00480,-87.9954,"Vultr Holdings, LLC",207.148.15.13,IL,Illinois,success,America/Chicago,60007
2,2,195.113.161.84,AS2852 CESNET z.s.p.o.,Pilsen,Czechia,CZ,CESNET-TCZ,49.77050,13.3689,NaN,195.113.161.84,32,Plzensky kraj,success,Europe/Prague,323 00
3,3,149.28.149.145,"AS20473 Choopa, LLC",Queenstown Estate,Singapore,SG,Choopa,1.29544,103.7900,"Vultr Holdings, LLC",149.28.149.145,NaN,NaN,success,Asia/Singapore,139964
4,4,146.57.249.98,AS217 University of Minnesota,Willmar,United States,US,University of Minnesota,45.13860,-95.0525,University of Minnesota,146.57.249.98,MN,Minnesota,success,America/Chicago,56201
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,95,165.230.49.114,AS46 Rutgers University,Township of Piscataway,United States,US,Rutgers University,40.52090,-74.4612,Rutgers University,165.230.49.114,NJ,New Jersey,success,America/New_York,08854-8089
96,96,155.225.2.72,AS53257 The Citadel,Charleston,United States,US,The Citadel,32.79900,-79.9571,The Citadel,155.225.2.72,SC,South Carolina,success,America/New_York,29409
97,97,204.85.191.10,AS36850 University of North Carolina at Chapel...,Chapel Hill,United States,US,University of North Carolina at Chapel Hill,35.91510,-79.0972,North Carolina Research and Education Network,204.85.191.10,NC,North Carolina,success,America/New_York,27516
98,98,199.247.27.122,"AS20473 Choopa, LLC",Amsterdam,Netherlands,NL,"Choopa, LLC",52.38910,4.6563,Vultr Holdings LLC Amsterdam,199.247.27.122,NH,North Holland,success,Europe/Amsterdam,2031
99,99,128.10.18.53,AS17 Purdue University,West Lafayette,United States,US,Purdue University,40.44440,-86.9256,Purdue University,128.10.18.53,IN,Indiana,success,America/Indiana/Indianapolis,47906

In [13]:
df.nunique()

Unnamed: 0     100
addr           100
as              39
city            48
country         16
countryCode     16
isp             40
lat             55
lon             55
org             42
query          100
region          38
regionName      39
status           1
timezone        24
zip             48
dtype: int64

In [5]:
final_data = []
for i in range(len(df)):
    temp = df[i, 0].split('\t')
    ans = []
    for j in range(len(temp)):
        if temp[j] == '':
            continue
        ans.append(float(temp[j]))
    final_data.append(ans)
final_data = np.array(final_data)

In [6]:
final_data

array([[0.88659794, 0.83495146, 0.86170213, ..., 0.        , 0.06666667,
        0.90625   ],
       [0.87640449, 0.50666667, 0.85185185, ..., 0.        , 0.07207207,
        0.97115385],
       [0.87341772, 0.88596491, 0.81904762, ..., 0.        , 0.07407407,
        0.91752577],
       ...,
       [0.89473684, 0.85106383, 0.83870968, ..., 0.        , 0.05154639,
        0.92792793],
       [0.85714286, 0.90625   , 0.76      , ..., 0.        , 0.03921569,
        0.95798319],
       [0.95876289, 0.85576923, 0.8440367 , ..., 0.        , 0.08791209,
        0.91089109]])

In [7]:
type(final_data[0, 0])

numpy.float64

In [8]:
float(final_data[0, 0])

0.8865979381443299